@media (min-width: 720px) {
  .mainContent {
    padding: 0 15% 0px 10%;
  }
}

@media (max-width: 720px) {
  .mainContent {
    padding: 2px;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #203377;
}
  
.mainContent {
  padding-top: 80px;
  display: flex;
}

.categoriesContainer {
  margin-right: 40px;
}

.item {
  cursor: pointer;
}