body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:focus {
  outline: none;
}

:root {
  --primary: #d6c782;
  --primaryHover: #bbaf7b;
  --secondary: #47432e;
  --secondaryHover: #80702c;
  --primaryDark: #b4a873;
  --primaryLight: #fffbec;
  --gray: #fbfbfb;
  --grayHover: #f7f7f7;
  --red: #c95d1f;
}